<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>hello</h3>
      <hr>
      <div class="container">
        <app-cockpit (serverCreated)="onServerAddition($event)" (bpCreated)="onBlueprintAddition($event)"></app-cockpit>
  <hr>
        <button class="btn btn-danger" (click)="onChangeFirst()">Change first element</button>
        <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
          <p>
            <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
</div>
      <app-servers></app-servers>    
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
</div>
